'Hello Yose'<br/><br/>

<ul>
  <li>
    <a id='repository-link' href='https://github.com/ewingd/yose'>Github Repo</a>
  </li>
  <li>
    <a id='ping-challenge-link' href='{{url_for('ping')}}'>Ping Challenge</a>
  </li>
  <li>
    <a id='prime-factors-decomposition-link' href='{{url_for('prime_factors_ui')}}'>Prime Factors Challenge</a>
  </li>
  <li>
    <a id='minesweeper-link' href='{{url_for('minesweeper')}}'>Minesweeper Challenge</a>
  </li>
  <li>
    <a id='contact-me-link' href='https://twitter.com/_ewingd'>Twitter</a>
  </li>
</ul>
