<style>
  table {
    border-collapse: collapse;
  }

  td {
    border: 1px solid black;
    width: 15px;
    height: 15px;
    background-color: grey;
  }

  .lost {
    background-color: red;
  }

  .safe {
    background-color: white;
  }
</style>
<script>
function load() {
}

function clickCell(row, col) {
  cell = document.getElementById('cell-' + row + 'x' + col); 
  if (document.grid[row - 1][col - 1] == 'bomb') {
    cell.className = 'lost';
  } else {
    cell.className = 'safe';
    cell.innerHTML = countNeighbors(row - 1, col - 1)
  }
}

function countNeighbors(row, col) {
  count = 0;
  if (bombAt(row-1, col-1)) {
    count += 1;
  }
  if (bombAt(row-1, col)) {
    count += 1;
  }
  if (bombAt(row-1,col+1)) {
    count += 1;
  }
  if (bombAt(row,col-1)) {
    count += 1;
  }
  if (bombAt(row,col+1)) {
    count += 1;
  }
  if (bombAt(row+1,col-1)) {
    count += 1;
  }
  if (bombAt(row+1,col)) {
    count += 1;
  }
  if (bombAt(row+1,col+1)) {
    count += 1;
  }

  return count;
}

function bombAt(row, col) {
  try {
    if (document.grid[row][col] == 'bomb') {
      return true;
    }
  } catch (TypeError) {
  }
  return false;
}
</script>
<div id='title'>Minesweeper</div>
<div id='grid'>
  <table>
    {% for row in range(1,9) %}
      <tr>
      {% for col in range(1,9) %}
        <td id='cell-{{ row }}x{{ col }}' onClick='clickCell({{ row }}, {{ col }});'>
        </td>
      {% endfor %}
      </tr>
    {% endfor %}
  </table>
</div>
