<style>
  table {
    border-collapse: collapse;
  }

  td {
    border: 1px solid black;
    width: 15px;
    height: 15px;
    background-color: grey;
  }

  .lost {
    background-color: red;
  }

  .safe {
    background-color: white;
  }
</style>
<script>
function load() {
}

function clickCell(row, col) {
  cell = document.getElementById('cell-' + row + 'x' + col);
  if (cell == null) {
    return;
  }
  if (cell.className == '') {
    try {
      if (document.grid[row - 1][col - 1] == 'bomb') {
        cell.className = 'lost';
      } else {
        cell.className = 'safe';
        count = countNeighbors(row - 1, col - 1)
        if (count != 0) {
          cell.innerHTML = count;
        } else {
          clickCell(row - 1, col - 1);
          clickCell(row - 1, col);
          clickCell(row - 1, col + 1);
          clickCell(row, col - 1);
          clickCell(row, col + 1);
          clickCell(row + 1, col - 1);
          clickCell(row + 1, col);
          clickCell(row + 1, col + 1);
        }
      }
    } catch (TypeError) {
    }
  }
}

function countNeighbors(row, col) {
  count = 0;
  if (bombAt(row-1, col-1)) {
    count += 1;
  }
  if (bombAt(row-1, col)) {
    count += 1;
  }
  if (bombAt(row-1,col+1)) {
    count += 1;
  }
  if (bombAt(row,col-1)) {
    count += 1;
  }
  if (bombAt(row,col+1)) {
    count += 1;
  }
  if (bombAt(row+1,col-1)) {
    count += 1;
  }
  if (bombAt(row+1,col)) {
    count += 1;
  }
  if (bombAt(row+1,col+1)) {
    count += 1;
  }

  return count;
}

function bombAt(row, col) {
  try {
    if (document.grid[row][col] == 'bomb') {
      return true;
    }
  } catch (TypeError) {
  }
  return false;
}

function randomizeGrid() {
  document.grid = [];
  options = ['empty', 'empty', 'empty', 'empty', 'bomb'];
  for (row = 0; row < 8; row++) {
    new_row = []
    for (col = 0; col < 8; col++) {
      var rand = Math.floor(Math.random() * options.length); 
      new_row.push(options[rand]);
    }
    document.grid.push(new_row);
  }
}

randomizeGrid();
</script>
<div id='title'>Minesweeper</div>
<div id='grid'>
  <table>
    {% for row in range(1,9) %}
      <tr>
      {% for col in range(1,9) %}
        <td id='cell-{{ row }}x{{ col }}' onClick='clickCell({{ row }}, {{ col }});'>
        </td>
      {% endfor %}
      </tr>
    {% endfor %}
  </table>
</div>
